body {
     background-color:#f1e7e7;
     padding:30px;
     margin:50px;
     border: 20px solid #4d4747;
     color: black;
     background-size:contain;
}

html {
    background-image: url(../images/water_lake.jfif);
    background-repeat: no-repeat;
    background-size: cover;
}


.main {
   
    padding-right: 30em;
}
.menu {
   text-align:right;
   margin-right:30px;
}
a {
    margin:20px;
}
.sales {
    
    padding-right: 30em;
}
.boats {
  
    padding-right:30em;
}
.image {
     display:block;
    padding-left:20em;
}
img {
    border: 5px solid black;
    width: auto;
}
.info {

}
.buttonbuy {
    border: 2px solid white;
    border-radius:5px;
    background-color:black;
    color:white;
   width:200px;
   height:100px
}

button:hover {
    background-color:aqua;
    box-shadow:inset;
}
table {
   padding-left:60em;
   width:200px;
   height:200px;
  
}
td {
    border: 2px solid black;
}


